.body{
   padding: 20px;
   position: relative;
   
}


#photo1{
    max-width: 60%;
    height: auto;
    border: 15px solid #FBFAF6;

}
#photo2{
    max-width: 30%;
    height: auto;
    border: 10% solid #FBFAF6;
}