.navbar{
    /* margin-top: 10px; */
    font-family: "perpetua";
    position: fixed;
    top: 0;
}


#home{
    font-size: 40px;
    padding: 10px;
    
}


#navbarNav{
  font-size: 23px;
  position: absolute;
  right: 0px;
  width: 500;
  padding: 15px;
}